[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/cscope_macros"]
	path = bundle/cscope_macros
	url = https://github.com/vim-scripts/cscope_macros.vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/doxygen_toolkit"]
	path = bundle/doxygen_toolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/cmake_syntax"]
	path = bundle/cmake_syntax
	url = https://github.com/vim-scripts/cmake.vim-syntax.git
[submodule "bundle/cmake_indent"]
	path = bundle/cmake_indent
	url = https://github.com/vim-scripts/cmake.vim.git
[submodule "bundle/camel_case_motion"]
	path = bundle/camel_case_motion
	url = https://github.com/bkad/CamelCaseMotion.git
