[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/cscope_macros"]
	path = bundle/cscope_macros
	url = https://github.com/vim-scripts/cscope_macros.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/doxygen_toolkit"]
	path = bundle/doxygen_toolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/cmake_syntax"]
	path = bundle/cmake_syntax
	url = https://github.com/vim-scripts/cmake.vim-syntax.git
[submodule "bundle/cmake_indent"]
	path = bundle/cmake_indent
	url = https://github.com/vim-scripts/cmake.vim.git
[submodule "bundle/camel_case_motion"]
	path = bundle/camel_case_motion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/a-vim"]
	path = bundle/a-vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/rubyblock"]
	path = bundle/rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/textobj-between"]
	path = bundle/textobj-between
	url = https://github.com/thinca/vim-textobj-between.git
[submodule "bundle/textobj-parameter"]
	path = bundle/textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter.git
[submodule "bundle/textobj-comment"]
	path = bundle/textobj-comment
	url = https://github.com/glts/vim-textobj-comment.git
[submodule "bundle/textobj-camel"]
	path = bundle/textobj-camel
	url = https://github.com/Julian/vim-textobj-variable-segment.git
[submodule "bundle/textobj-uri"]
	path = bundle/textobj-uri
	url = https://github.com/jceb/vim-textobj-uri.git
[submodule "bundle/textobj-datetime"]
	path = bundle/textobj-datetime
	url = https://github.com/kana/vim-textobj-datetime.git
[submodule "bundle/quicktask"]
	path = bundle/quicktask
	url = https://github.com/aaronbieber/vim-quicktask.git
[submodule "bundle/pyclewn"]
	path = bundle/pyclewn
	url = https://github.com/xieyu/pyclewn.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/textobj-function"]
	path = bundle/textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/easy-align"]
	path = bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/visualrepeat"]
	path = bundle/visualrepeat
	url = https://github.com/vim-scripts/visualrepeat.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/ycm"]
	path = bundle/ycm
	url = https://github.com/Valloric/YouCompleteMe.git
