[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/doxygen_toolkit"]
	path = bundle/doxygen_toolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/cmake_syntax"]
	path = bundle/cmake_syntax
	url = https://github.com/s-evans/cmake_syntax.git
[submodule "bundle/cmake_indent"]
	path = bundle/cmake_indent
	url = https://github.com/s-evans/cmake_indent.git
[submodule "bundle/camel_case_motion"]
	path = bundle/camel_case_motion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/a-vim"]
	path = bundle/a-vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/textobj-parameter"]
	path = bundle/textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter.git
[submodule "bundle/textobj-comment"]
	path = bundle/textobj-comment
	url = https://github.com/glts/vim-textobj-comment.git
[submodule "bundle/textobj-camel"]
	path = bundle/textobj-camel
	url = https://github.com/Julian/vim-textobj-variable-segment.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/textobj-function"]
	path = bundle/textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/easy-align"]
	path = bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/visualrepeat"]
	path = bundle/visualrepeat
	url = https://github.com/vim-scripts/visualrepeat.git
[submodule "bundle/ycm"]
	path = bundle/ycm
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/cctree"]
	path = bundle/cctree
	url = git@github.com:s-evans/cctree.git
[submodule "bundle/textobj-between"]
	path = bundle/textobj-between
	url = git@github.com:s-evans/vim-textobj-between.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:s-evans/vim-snippets.git
[submodule "bundle/textobj-line"]
	path = bundle/textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "bundle/operator-user"]
	path = bundle/operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "bundle/operator-replace"]
	path = bundle/operator-replace
	url = https://github.com/kana/vim-operator-replace.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/startify"]
	path = bundle/startify
	url = git@github.com:mhinz/vim-startify.git
[submodule "bundle/obsession"]
	path = bundle/obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = git@github.com:tpope/vim-dispatch.git
